<!DOCTYPE html>
<html>
<head>
    <title>{{ action }} Tenant</title>
</head>
<body>
    <h1>{{ action }} Tenant</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}
        </p>
        <p>
            {{ form.apic_url.label }}<br>
            {{ form.apic_url(size=60) }}
        </p>
        <p>
            {{ form.apic_username.label }}<br>
            {{ form.apic_username(size=40) }}
        </p>
        <p>
            {{ form.apic_password.label }}<br>
            {{ form.apic_password(size=40) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=3, cols=60) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('tenants') }}">Back to Tenants</a>
</body>
</html>